// Methods
$_color-post: #ffffff;
$_color-get: #ffffff;
$_color-put: #ffffff;
$_color-delete: #ffffff;
$_color-head: #ffffff;
$_color-patch: #ffffff;
$_color-disabled: #ffffff;
$_color-options: #ffffff;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
