.swagger-ui
{
    @import 'mixins';
    @import 'variables';
    @import 'colors';
    @import 'type';
    @import 'layout';
    @import 'buttons';
    @import 'form';
    @import 'modal';
    @import 'models';
    @import 'table';
    @import 'topbar';
    @import 'information';
    @import 'authorize';
    @import 'errors';
    @include text_body();
    @import 'split-pane-mode';
}


body{
  background: unset;
}

.newTable td{
	vertical-align: top;
}

.opblock{
	    min-height: 80vh;
	    min-width: 70vw;
}

.opblock-hidden, .opblock-tags{
	display:none;
}

.swagger-ui .opblock-tag{
	display:none !important;
}


.swagger-ui .opblock {
    margin: unset;
    border: unset;
    border-radius: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
	border-color: unset;
    background: unset;
}


.sidebar{
    padding:10px;color:#000;background-color:#f1f1f1;margin:10px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 2px;
    
    color: saddlebrown;
    background: whitesmoke;
}

.sidebarNavigator{
    font-weight: bold;
    padding: 5px;
    color: black;
}

.sidebarButton{
    color: saddlebrown;
    background: whitesmoke;
    width: 25px;
    height: 25px;
    float: right!important;
    border:none;
}

.sidebutton:hover{color:#000!important;background-color:#ccc!important}
.sidebutton{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.sidebar
.sidebar-item{
    font-weight: normal;width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}

.sidebar-root-item-button:hover{color:#000!important;background-color:#ccc!important}
.sidebar-root-item-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.sidebar-root-item{
    font-weight: bold;width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
    